@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Source+Code+Pro');

body {
    margin: 0;
    height: 100%;
}

body,
html,
#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #252831;
    font-family: 'Roboto Slab', serif;
}

pre {
    margin: 0;
}
